<mat-toolbar
    style="height:max-content;background-color: #F5DEE9;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;float: inline-start;">
    <div style="padding: 10px;justify-content: left;margin-right: 10px;">
        <a class="navbar-brand" href="#">
            <img src="../assets/Logo.png" width="180%" height="180%" class="d-inline-block align-top" alt="">
        </a>
    </div>
    <div class="input-group mb-3" style="margin-top: 13px;">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-icon">
        <div class="input-group-append">
            <span class="input-group-text" style="background-color: #4F274A;" id="search-icon">
                <i class="fa fa-search" style="color: white;"></i>
            </span>
        </div>
    </div>
    <div style="padding: 10px;justify-content: right;">
        <a [routerLink]="'/Login'" style="text-decoration: none;text-decoration-color: none;">
            <button style="margin-left: 3px;margin-right: 3px;" class="btn btn-outline-primary">
                LOGIN
            </button>
        </a>
        <a [routerLink]="'/Register'" style="text-decoration: none;text-decoration-color: none; margin-right: 10px;">
            <button style="margin-left: 3px;margin-right: 3px;" class="btn btn-outline-primary">REGISTER</button>
        </a>
        <button style="justify-content:cnter;padding: 10px;border:0px;border-radius: 50px;padding-top:15px;background-color: #4F2749;color: #F5DEE9;" [routerLink]="'/Cart'">
            <i class="fa fa-shopping-cart fa-lg" style="margin-left: 6px; margin-right: 3px;"></i>
            <span class="cart-badge" [(ngModel)]="cart" [hidden]="cart == 0">{{cart}}</span> 
        </button>
        <i class="far fa-question-circle " [routerLink]="'/Help'" style="margin-left: 10px;margin-right: 3px;"
            type="button"></i>
    </div>
</mat-toolbar>
<nav class="navbar navbar-expand-lg" style="background-color:#4F274A ;">
    <button class="navbar-toggler" style="color: white;" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-navicon fa-lg" style="color: white;"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/Home'">HOME </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/Books'">BOOKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/Equipment'">EQUIPMENT</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    RESELL <span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                    style="background-color: #4F274A;color: white;">
                    <a class="dropdown-item" style="color: white;" [routerLink]="'/Check'">Check Book Estimate</a>
                    <a class="dropdown-item" style="color: white;" [routerLink]="'/Schedule'">Schedule Book
                        Evaluation</a>
                    <a class="dropdown-item" style="color: white;" [routerLink]="'/View-Resale'">View Resale Details</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/About'">ABOUT US</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container" style="padding-bottom: 50px;">
    <div class="dropdown">
        <p class="dropdown-toggle" style="font-size: small;font-weight: bold;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="DropdownMenuLink">
            RESELL
        </p>
        <div class="dropdown-menu" aria-labelledby="DropdownMenuLink" style="background-color: #4F274A;justify-self: right;">
            <a class="dropdown-item" style="color: white;" [routerLink]="'/Check'">Check Book Estimate</a>
            <a class="dropdown-item" style="color: white;" [routerLink]="'/Schedule'">Schedule Book
                Evaluation</a>
        </div>
    </div>


    <div style="text-align: center;">
        <h2 style="font-weight: bold;padding-bottom: 50px;">View Resale Details</h2>
        <div class="row">
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;" [routerLink]="'/Pending-Book'">
                    <i class="fas fa-clock fa-6x" style="color: #4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;">Waiting for Booking</h6>
                </div>
            </div>
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;" [routerLink]="'/Eval-Scheduled'">
                    <i class="fas fa-calendar-check fa-6x" style="color: #4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;">Evaluations Scheduled</h6>
                </div>
            </div>
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;" [routerLink]="'/Eval-Completed'">
                    <i class="far fa-check-circle fa-6x" style="color:#4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;">Evaluations Completed</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="width:40%; color: #4F2749;">


