<div class="titlePage">
    <h4> </h4>
    <h4 style="font-weight: bold; padding-top: 5px;">
        <a [routerLink]="'/faculty'" style="text-decoration: black;">
            <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
        </a>&nbsp;&nbsp;
        <a [routerLink]="'/books'" style="color: black;">
            BOOKS
        </a>
        <a [routerLink]="'/faculty'" style="color: black;">
            <i class="fas fa-angle-right fa-lg"></i> FACULTY
        </a>
        <i class="fas fa-angle-right fa-lg"></i> UPDATE FACULTY
    </h4>
</div>


<div style="padding: 50px;">
    <div class="row">
        <div class="col-6 offset-1">
            <form class="form-group" [formGroup]="formUpdate" (ngSubmit)="UpdateFaculty()">
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Name</label>
                    <input type="text" class="form-control" placeholder="Test Tube" name="name" formControlName="name">
                </div>
                <div *ngIf="formUpdate.controls['name']?.invalid && formUpdate.controls['name']?.touched"
                    class="text-danger">
                    Name is required.
                </div>

                <button type="button" class="btn normButton" style="width: fit-content;" [disabled]="formUpdate.invalid" data-toggle="modal" data-target="#updateModal">UPDATE FACULTY</button>
                <button type="button" class="btn normCancel" data-toggle="modal" data-target="#abortModal" style="margin-left:20px;width: 140px;">CANCEL</button>

                <!-- Modal for update-->
                <div class="modal fade" id="updateModal" role="dialog" data-backdrop="false">
                    <div class="modal-dialog modal-md">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div style="background-color: #D9D9D9;height: fit-content;">
                                <i type="button" class="close modalLabel fa fa-times-circle" data-dismiss="modal"></i>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                                    <h5>
                                        <i class="fa fa-exclamation-triangle fa-2x"
                                            style="color: #FFDB58;"></i>&nbsp;&nbsp; Are you sure you want to update
                                        this
                                        faculty?
                                    </h5>
                                </div>
                                <div style="text-align: center;margin-top: 5px;margin-bottom: 5px;">
                                    <button type="button" class="btn update" style="width: 140px;" data-dismiss="modal"
                                        data-toggle="modal" data-target="#successModal"
                                        type="submit" (click)="UpdateFaculty()"> CONFIRM
                                    </button>
                                    <button type="button" class="btn normCancel" data-dismiss="modal"
                                        data-toggle="modal" data-target="#abortModal"
                                        style="margin-left:20px;width: 140px;"> CANCEL </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal FOR ABORT-->
<div class="modal fade" id="abortModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-md">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div style="background-color: #D9D9D9;height: fit-content;">
          <i type="button" class="close modalLabel fa fa-times-circle" data-dismiss="modal"></i>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
            <h5>
              <i class="fa fa-exclamation-triangle fa-2x" style="color: red;"></i>&nbsp;&nbsp; Update Faculty has been aborted.
            </h5>
          </div>
          <div style="text-align: center;margin-top: 5px;margin-bottom: 5px;">
            <button type="button" class="btn update" style="width: 140px;" data-dismiss="modal" [routerLink]="'/faculty'"> OKAY
            </button>
          </div>
        </div>
      </div>
    </div>
</div>