<mat-toolbar
    style="height: max-content; background-color: #F5DEE9; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: flex; justify-content: space-between; align-items: center;">
    <div style="padding: 10px;">
        <a class="navbar-brand" href="#">
            <img src="../assets/Logo.png" width="100%" height="180%" class="d-inline-block align-top" alt="">
        </a>
    </div>

    <div class="input-group" style="width:90%">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-icon">
        <div class="input-group-append">
            <span class="input-group-text" style="background-color: #4F274A;" id="search-icon">
                <i class="fa fa-search" style="color: white;"></i>
            </span>
        </div>
    </div>

    <div class="user-icon"
        style="text-decoration: none; text-decoration-color: none; margin-left: 3px; margin-right: 3px;">
        <button class="btn dropdown-toggle"
            style="text-decoration: none; text-decoration-color: none; margin-left: 3px; margin-right: 3px; color: #F5DEE9;;background-color: #4F2749;"
            type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" style="color:#F5DEE9"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="userDropdown" style="background-color: #4F274A;color: #F5DEE9;">
            <a class="dropdown-item" [routerLink]="'/Login'" style="color:white;">Login</a>
            <a class="dropdown-item" [routerLink]="'/Register'" style="color:white;">Register</a>
        </div>
    </div>
    <button
        style="justify-content: center; padding: 10px; border: 0px; border-radius: 50px; padding-top: 15px; background-color: #4F2749; color: #F5DEE9;"
        [routerLink]="'/Cart'">
        <i class="fa fa-shopping-cart fa-lg" style="margin-left: 6px; margin-right: 3px;"></i>
        <span class="cart-badge"></span>
    </button>
    <i class="far fa-question-circle" [routerLink]="'/Help'" style="margin-left: 10px; margin-right: 3px;"
        type="button"></i>
</mat-toolbar>
<nav class="navbar navbar-expand-lg" style="background-color:#4F274A ;">
    <button class="navbar-toggler" style="color: white;" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-navicon fa-lg" style="color: white;"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/Home'">HOME </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/Books'">BOOKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/Equipment'">EQUIPMENT</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    RESELL <span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                    style="background-color: #4F274A;color: white;">
                    <a class="dropdown-item" style="color: white;" [routerLink]="'/Check'">Check Book Estimate</a>
                    <a class="dropdown-item" style="color: white;" [routerLink]="'/Schedule'">Schedule Book
                        Evaluation</a>
                    <a class="dropdown-item" style="color: white;" [routerLink]="'/View-Resale'">View Resale Details</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #F5DEE9;" [routerLink]="'/About'">ABOUT US</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>

<div class="container" style="padding-bottom: 50px;">
    <div class="dropdown">
        <p class="dropdown-toggle" style="font-size: small;font-weight: bold;" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" id="DropdownMenuLink">
            RESELL
        </p>
        <div class="dropdown-menu" aria-labelledby="DropdownMenuLink"
            style="background-color: #4F274A;justify-self: right;">
            <a class="dropdown-item" style="color: white;" [routerLink]="'/Schedule'">Schedule Book Evaluation</a>
            <a class="dropdown-item" style="color: white;" [routerLink]="'/View-Resale'">View Resale Details</a>
        </div>
    </div>


    <div style="text-align: center;">
        <h2 style="font-weight: bold;padding-bottom: 50px;">Check Book Estimate
            <hr style="width: 50%;">
        </h2>
    </div>

    <div class="container">
        <form style="display: flex; align-items: center;justify-content: center;text-align: center;">
            <label style="font-weight: bold;">ISBN:</label>
            <input id=isbnInput type="text" style="margin-left: 15px;margin-right: 15px;width: 50%;"
                class="form-control" name="isbn">
            <button data-dismiss="modal" data-toggle="modal" data-target="#bookModal" class="btn"
                style=" width: 150px; text-align: center; color: white; background-color: #3AD165;"
                (click)="CheckBook()">
                CHECK
            </button>
        </form>
    </div>

    <div class="container" style="padding: 50px;text-align: center;" [hidden]="!showModal">
        <div style="display: flex; align-items: center;margin-bottom: 50px;">
            <img src="https://mockuptree.com/wp-content/uploads/edd/2022/07/Free-Book-Covers-Mockups.jpg"
                style="margin-right: 10px;width: 50%;">
            <div style="text-align: left;" *ngFor="let b of book">
                <p>ISBN: {{b.isbn}} </p>
                <p>Title:{{b.title}} </p>
                <p>Author(s):{{b.authorName}} </p>
                <p>Publisher:{{b.publisherName}} </p>
                <p>Edition:{{b.edition}} </p>
            </div>
        </div>
        <hr style="width: 40%;">
        <div id="tell-us"
            style="text-align: center;margin-top:50px;margin-bottom:50px; background-color: #F5F4F4;padding-top: 80px;padding-bottom: 80px;">
            <h5 style="text-align: center;font-weight: bold;">Please Tell Us About Your Book</h5>
            <div class="row" style="text-align: center;">
                <div class="col"></div>
                <div class="col" style="text-align: left;">
                    <input type="checkbox" name="pagesFolded" [(ngModel)]="isPagesFolded"> Are any pages folded? <br>
                    <input type="checkbox" name="pagesHighlighted" [(ngModel)]="isPagesHighlighted"> Are any pages
                    highlighted?<br>
                    <input type="checkbox" name="pagesWrittenOn" [(ngModel)]="isPagesWrittenOn"> Are any pages written
                    on?<br>
                    <input type="checkbox" name="pagesTorn" [(ngModel)]="isPagesTorn"> Are any pages torn or torn
                    out?<br>
                    <input type="checkbox" name="pagesStained" [(ngModel)]="isPagesStained"> Are any pages stained?
                </div>
                <div class="col"></div>
            </div>
        </div>

        <hr style="width: 40%;">
        <div
            style="text-align: center;margin-top:50px; background-color: #F5F4F4;padding-top: 80px;padding-bottom: 80px;">
            <h5 style="text-align: center;font-weight: bold;">Let's See The Book</h5>
            <p>Upload pictures of your book<br>
                <hr style="width: 40%;">
            <div style="display: flex; align-items: center; justify-content: center; text-align: center;padding:20px;">
                <h5 style="margin-right: 10px;font-weight: bold;">Front: </h5>
                <div style="border: dotted 1px #4F2749;padding-top: 10px;padding-bottom: 10px;">
                    <input type="file" accept="image/*" (change)="onFrontImageSelected($event)"
                        style="width: 80%; margin-left: 10px;margin-right: 10px; background-color: #4F2749;color:white">
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; text-align: center;padding:20px;">
                <h5 style="margin-right: 10px;font-weight: bold;">Back: </h5>
                <div style="border: dotted 1px #4F2749;padding-top: 10px;padding-bottom: 10px;">
                    <input type="file" accept="image/*" (change)="onBackImageSelected($event)"
                        style="width: 80%; margin-left: 10px;margin-right: 10px; background-color: #4F2749;color:white">
                </div>

            </div>
            <div style="display: flex; align-items: center; justify-content: center; text-align: center;padding:20px;">
                <h5 style="margin-right: 10px;font-weight: bold;">Binder <br> Side: </h5>
                <div style="border: dotted 1px #4F2749;padding-top: 10px;padding-bottom: 10px;">
                    <input type="file" accept="image/*" (change)="onBinderImageSelected($event)"
                        style="width: 80%; margin-left: 10px;margin-right: 10px; background-color: #4F2749;color:white">
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; text-align: center;padding:20px;">
                <h5 style="margin-right: 10px;font-weight: bold;">Open<br> Book: </h5>
                <div style="border: dotted 1px #4F2749;padding-top: 10px;padding-bottom: 10px;">
                    <input type="file" accept="image/*" (change)="onOpenImageSelected($event)"
                        style="width: 80%; margin-left: 10px;margin-right: 10px; background-color: #4F2749;color:white">
                </div>
            </div>
        </div>

        <button data-dismiss="modal" data-toggle="modal" data-target="#estimatedPriceModal" class="btn"
            style="width: 150px; color: white; background-color: #3AD165; margin-left: 20px;margin-right: 20px; margin-top: 20px;"
            (click)="CheckBookEstimate(book[0].basePrice)">
            SUBMIT
        </button>
    </div>
</div>


<!-- Modal FOR BOOK-->
<div class="modal fade" id="bookModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div style="background-color: #D9D9D9;height: fit-content;">
                <i type="button" class="close modalLabel fa fa-times-circle" data-dismiss="modal"></i>
            </div>
            <div class="modal-body">
                <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;font-weight: bold;">
                    <h4><b>Your Book:</b></h4><br>
                    <div style="display: flex; align-items: center;padding: 20px;" *ngFor="let b of book">
                        <img src="https://mockuptree.com/wp-content/uploads/edd/2022/07/Free-Book-Covers-Mockups.jpg"
                            style="margin-right: 10px;width: 50%;">
                        <div style="text-align: left;">
                            <p>ISBN: {{b.isbn}} </p>
                            <p>Title:{{b.title}} </p>
                            <p>Author(s):{{b.authorName
                                }} </p>
                            <p>Publisher:{{b.publisherName
                                }} </p>
                            <p>Edition:{{b.edition}} </p>
                        </div>
                    </div>

                </div>
                <div style="text-align: center;margin-top: 5px;margin-bottom: 5px;">
                    <a #yesButton type="button" class="btn update"
                        style="width: 140px; margin-right: 20px; background-color: #3AD165;" data-dismiss="modal"
                        (click)="scrollToTellUs()"> YES
                    </a>
                    <a type="button" class="btn update" style="width: 140px;background-color: red;"
                        data-dismiss="modal"> NO
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Existing modal code... -->

<!-- Modal for Estimated Price -->
<div class="modal fade" id="estimatedPriceModal" role="dialog" data-backdrop="false">
    <!-- Modal content -->
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div style="background-color: #D9D9D9;height: fit-content;">
                <i type="button" class="close modalLabel fa fa-times-circle" (click)="closeEstimatedPriceModal()"></i>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <h3>The {{ book[0].title }} estimated Value R{{ estimatedPrice }} based on provided book condition
                        information. Proceed to resell book ?</h3>
                </div>
                <div style="text-align: center;margin-top: 5px;margin-bottom: 5px;">
                    <button type="button" class="btn update"
                        style="width: 140px;margin-right: 20px;background-color: #3AD165;"
                        (click)="AddResale()">YES</button>
                    <button type="button" class="btn update" style="width: 140px;background-color: red;"
                        (click)="closeEstimatedPriceModal()" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
</div>