.dropdown-item:hover {
    background-color: #AE7595;
}


  .delete {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: fit-content;
  }
  
  .update {
    background-color: #50294A;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: fit-content;
  }
  
  .normCancel {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: fit-content;
  }
  
  .card-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }