<div style="background-color: #50294A;padding:20px;justify-content: center;text-align: center;">
    <i class="fas fa-desktop fa-5x" style="color: #AE7595;padding: 10px;"></i>
    <br>
    <h1>Content Coming Soon</h1>
    <p>Stay tuned for more information!</p>
</div>


<!--<div class="container" style="padding: 50px;">
    <div style="text-align: center;">
        <h1 style="font-weight: bold;padding-bottom: 50px;color:black;">ORDERS</h1>
        <div class="row">
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;margin-bottom: 25px;">
                    <i class="fas fa-clock fa-6x" style="color: #4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;">Orders Placed</h6>
                </div>
            </div>
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;margin-bottom: 25px;">
                    <i class="fas fa-calendar-check fa-6x" style="color: #4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;">Orders Pending Collection</h6>
                </div>
            </div>
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;margin-bottom: 25px;">
                    <i class="far fa-check-circle fa-6x" style="color:#4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;">Collected Orders</h6>
                </div>
            </div>
        </div>
    </div>
</div> -->