<div style="background-color: #50294A;padding:20px;justify-content: center;text-align: center;">
    <i class="fas fa-desktop fa-5x" style="color: #AE7595;padding: 10px;"></i>
    <br>
    <h1>Content Coming Soon</h1>
    <p>Stay tuned for more information!</p>
</div>

<!-- TITLE OF PAGE BAR -->
<!--<div class="titlePage">
    <h4 style="font-weight: bold; padding-top: 5px;"> &nbsp;&nbsp;
        POINT OF SALE
    </h4>
</div>

<!-- SEARCH BAR AND ADD NEW SALE BUTTON -->
<!--<div class="container" style="padding: 10px;text-align: center;">
    <div style="padding-left: 15px;padding-right: 15px;">
        <div class="row" style="padding-left: 15px;padding-right: 15px;">
            <div class="col-md-9">
                <form>
                    <input type="search" placeholder="Search for a sale"
                        name="searchQuery">
                </form>
            </div>
            <div class="col-md-3" style="justify-content: flex-end;text-align: right;padding-top: 10px;">
                <a [routerLink]="'/add-sale'" class="normButton btn">
                    <i class="fas fa-plus-circle fa-lg"></i>
                    &nbsp;
                    MAKE SALE
                </a>
            </div>
        </div>

        
        <div style="padding-left: 15px;padding-right: 15px;padding-top: 15px;width:100%">
            <table class="table table-inverse datatable-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Student</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: max-content;" >
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <button type="button" class="btn"
                                style="margin-top:10px; width: 100px;background-color: #4F2749; color:white; font-weight: bold;">
                                OPEN </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->



