<mat-toolbar class="navbar-expand-sm" style="height: max-content;background-color: #AE7595;width: 90%;">
    <mat-toolbar-row style="padding-top: 10px;padding-bottom:10px;height: fit-content;background-color: #AE7595;">
        <button mat-button (click)="sidenav.toggle()"><i class="fa fa-bars"></i></button>
        <img src="../assets/BlackLogo-NoBG 2.png" style="width: 100;height: 70px;text-align:right;padding-left:5px;"
            onmouseover="this.style.cursor = 'pointer'" [routerLink]="'/dashboard'" data-toggle="tooltip"
            data-placement="bottom" title="UniBooks" />
        <div style="width:100px;"></div>

        <button mat-button [matMenuTriggerFor]="menu"
            style="font-weight: bold;padding: 10px;width: fit-content; height: fit-content;float: inline-end ;">
            <div style="float: inline-start;">
                <img src="../assets/girl.png"
                    style="width: 70px;height: 70px;border: 2px solid black;border-radius:40px;border-spacing: 5px;padding: 3px;">
            </div>
        </button>

        <div>
            <h6 style="font-weight: bolder;">
                <br>
                Tsholo M.
                <br>
                <span style="font-size:smaller;font-weight: bolder;text-align: left;">ADMIN</span>
            </h6>
        </div>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <i class="fas fa-user-circle"></i>
                My Profile
            </button>
            <button mat-menu-item [routerLink]="'/dashboard'">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </button>
        </mat-menu>

        <div style="right: 0;position: absolute;padding-right: 35px;">
            <img src="../assets/Logo.png" />
        </div>

    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true" class="side-container" style="background-color: #AE7595;">
        <mat-nav-list style="float:inline-start;">
            <div mat-list-item [routerLink]="'/dashboard'"
                style="float:inline-start;font-weight: bolder;vertical-align: middle;padding:10px;font-size:large;cursor: pointer;">
                <i class="fa fa-th-large fa-lg"></i>&nbsp;&nbsp; DASHBOARD
            </div>
            <div mat-list-item [routerLink]="'/sale'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-cash-register fa-lg"></i>&nbsp;&nbsp; POINT OF SALE
            </div>
            <div mat-list-item [routerLink]="'/inventory'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-boxes fa-lg"></i>&nbsp;&nbsp; INVENTORY
            </div>
            <div mat-list-item [routerLink]="'/orders'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-box-open fa-lg"></i>&nbsp;&nbsp; ORDERS
            </div>
            <div mat-list-item [routerLink]="'/vouchers'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-ticket-alt fa-lg"></i>&nbsp;&nbsp; VOUCHERS
            </div>
            <div mat-list-item [routerLink]="'/resale'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-book-open fa-lg"></i>&nbsp;&nbsp; RESALE
            </div>
            <div mat-list-item [routerLink]="'/employees'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-user-friends fa-lg"></i>&nbsp;&nbsp; EMPLOYEES
            </div>
            <div mat-list-item [routerLink]="'/schedule'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-calendar-alt fa-lg"></i>&nbsp;&nbsp; SCHEDULE
            </div>
            <div mat-list-item [routerLink]="'/students'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-user-graduate fa-lg"></i>&nbsp;&nbsp; STUDENTS
            </div>
            <div mat-list-item [routerLink]="'/newsletter'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="far fa-newspaper fa-lg"></i>&nbsp;&nbsp; NEWSLETTER
            </div>
            <div mat-list-item [routerLink]="'/help-tips'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fa fa-info-circle fa-lg"></i>&nbsp;&nbsp; HELP TIPS
            </div>
            <div mat-list-item [routerLink]="'/reports'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-clipboard-list fa-lg"></i>&nbsp;&nbsp; REPORTS
            </div>
            <div mat-list-item [routerLink]="'/supplier'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-dolly fa-lg"></i>&nbsp;&nbsp; SUPPLIER
            </div>
            <div mat-list-item [routerLink]="'/vat'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-percent fa-lg"></i>&nbsp;&nbsp; VAT
            </div>
            <div mat-list-item [routerLink]="'/user-role'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fa fa-users fa-lg"></i>&nbsp;&nbsp; USER ROLES 
            </div>
            <div mat-list-item [routerLink]="'/cloud'"
                style="font-weight: bolder;padding:10px;font-size:large;cursor: pointer;">
                <i class="fas fa-cloud fa-lg"></i>&nbsp;&nbsp; DATA MANAGEMENT
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container" autosize>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>