<div class="titlePage">
    <h4> </h4>
    <h4 style="font-weight: bold; padding-top: 5px;"> &nbsp;&nbsp;DATA MANAGEMENT</h4>
</div>
<div style="padding: 50px; text-align: center;">
    <div>
        <a [routerLink]="'/'" class="buttons btn btn-lg">
            <i class="fas fa-cloud-upload-alt fa-lg"></i>&nbsp;&nbsp;
            BACK-UP DATA
        </a>
    </div>
    <br>
    <br>
    <div>
        <a [routerLink]="'/'" class="buttons btn btn-lg">
            <i class="fas fa-cloud-download-alt fa-lg"></i>&nbsp;&nbsp;
            RESTORE DATA
        </a>
    </div>
</div>