<!-- TITLE OF PAGE BAR -->
<div class="titlePage">
    <h4 style="font-weight: bold; padding-top: 5px;">
      <a [routerLink]="'/help-tips'" style="color: black;">
        HELP TIPS
      </a>
      &nbsp; >> &nbsp;
      VIEW HELP TIP
    </h4>
  </div>
  <br>
  <div style="padding: 50px;">
    <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-2" style="text-align: right;"><strong>Title: </strong> </div>
            <div class="col-sm-6"> {{selectedHelpTip.name}}</div>
          </div>
          <div class="row">
              <div class="col-sm-2" style="text-align: right;"><strong>Date: </strong> </div>
              <div class="col-sm-6"> {{selectedHelpTip.date}}</div>
          </div>
          <div class="row">
              <div class="col-sm-2" style="text-align: right;"><strong>Description: </strong></div>
              <div class="col-sm-6"> {{selectedHelpTip.description}}</div>
          </div>
          <br>
          <div class="row">
              <a [href]="streamLink" >
                <button type="button" class="btn normButton" style="width: 200px; background-color: green;">DOWNLOAD VIDEO</button>
              </a>
          </div> 
          <br>
          <button type="button" class="btn normButton" style="width: 140px;" [routerLink]="['/help-tips']">
              GO BACK
          </button>
  
          </div>
      </div>
    </div>   
 
