<div style="padding: 50px;">
    <h2  style="font-weight: bold;">Welcome, Tsholo!</h2>

    <hr />
    <div class="row">
        <div class="col-md-8 box">
            <h3>Summary</h3>
            <div style="background-color: #50294A;padding:20px;justify-content: center;text-align: center;">
                <i class="fas fa-desktop fa-5x" style="color: #AE7595;padding: 10px;"></i>
                <br>
                <h1>Content Coming Soon</h1>
                <p>Stay tuned for more information!</p>
            </div>
        </div>
        <div class="col-md-4 box">
            <h3>Quick Links</h3>
            <ul style="list-style-type: none; font-size: large;margin: 0;padding: 0;">
                <li><br></li>
                <li>
                    <a [routerLink]="'/sale'">
                        <i class="fas fa-cash-register fa-lg"></i>&nbsp;&nbsp; Make A Sale
                    </a>
                </li>
                <li><br></li>
                <li>
                    <a [routerLink]="'/students'">
                        <i class="fas fa-search fa-lg"></i>&nbsp;&nbsp; Search for Student
                    </a>
                </li>
                <li><br></li>
                <li>
                    <a [routerLink]="'/orders'">
                        <i class="fas fa-book-open fa-lg"></i>&nbsp;&nbsp; Perform Resale
                    </a>
                </li>
                <li><br></li>
                <li>
                    <a [routerLink]="'/orders'">
                        <i class="fas fa-shopping-basket fa-lg"></i>&nbsp;&nbsp; Active Orders
                    </a>
                </li>
                <li><br></li>
                <li>
                    <a [routerLink]="'/cloud'">
                        <i class="fas fa-cloud fa-lg"></i>&nbsp;&nbsp; Data Management
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>